{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block final_stylesheets %}

{% endblock %}
{% block body %}
<!-- Page Title Section -->
<section class="page-title"
	style="background-image: url(assets/images/background/b3.png);background-size:cover;min-height: 1200px;">

	<div class="container">

		<div class="row justify-content-around d-flex">
			<div class="col-md-4" style="background-color:rgba(255, 255, 255, 0.246);border-radius: 12px;">
				<ul class="page-breadcrumb">
					<h1 class="text-center">
						{% if app.user.picture is not null %}
						<img class=" img-fluid rounded-circle" style="border:solid white 5px;width: 150px;height:150px"
							src="{{ asset('uploads/avatar/' ~  app.user.picture )}}" alt="">
						{% else %}
						<img class=" img-fluid rounded-circle" style="border:solid white 5px;width: 150px;height:150px"
							src="assets/images/resource/user.png" alt="">
						{% endif %}
					</h1>
					<h3 class="text-white">Bienvenue <span class="text-bold text-white">{{app.user.firstname}}</span></h3>
					<hr class="text-white">
					<a href="#"  class="text-center text-white">Edité mon profil</a>
					<hr class="text-white">
					<a href="#" class="text-center text-white">Edité mon Mot de passe</a>
					<hr class="text-white">
				</ul>
			</div>
		
		</div>
		<hr>
		<br><br>
		<h3 class="text-white">Mes commandes</h3>
		{% if ordersValid is not empty %}
		<div>
			<table class="table myTable">
				<thead>
					<tr>
						<th scope="col">Categorie</th>
						<th scope="col">Quantité</th>
						<th scope="col">Prix</th>
						<th scope="col">Total</th>
						<th scope="col">Status</th>
			
					</tr>
				</thead>
				<tbody>
					{% set total = null %}
					{% for product in ordersValid %}
					<tr>
						<td>{{product.myorder.categoryname}}</td>
						<td>{{product.quantity}}</td>
						<td>{{product.price | number_format(2,',','.')}}€ </td>
						<td>{{(product.price * product.quantity) | number_format(2,',','.')}}€</td>
						{% set total = total + (product.price * product.quantity)%}
						<td class="text-success">Validez</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
		{% if ordersValid is empty %}
		<h1 class="text-muted text-center">Aucune commande pour le moment.</h1>
		{% endif %}
	</div>
</section>
<!--End Register Section-->


{% endblock %}