{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}


<div class="page-wrapper">


	<!-- Banner Section Four -->
	<section class="page-title" style="background-image: url({{asset('assets/images/background/b3.png')}})">
		{# <div class="pattern-layer-one"
			style="background-image: url({{asset('assets/images/main-slider/pattern-1.png')}})"></div> #}
		<div class="pattern-layer-two"
			style="background-image: url({{asset('assets/images/background/pattern-17.png')}})"></div>
		{# <div class="pattern-layer-three"
			style="background-image: url({{asset('assets/images/background/pattern-18.png')}})"></div> #}
		{# <div class="pattern-layer-four" style="background-image: url({{asset('assets/images/icons/cross-icon.png')}})">
		</div> #}
		<div class="auto-container">
			<ul class="page-breadcrumb">
				<div class="content-column col-lg-12 col-md-12 col-sm-12">
					<img class="logoHome" src="assets/img/unlockW.png"  alt="" title="" data-depth="0.50">
				</div>


			</ul>
		</div>
		<div>
			<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
				<defs>
					<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
					</path>
				</defs>
				<g class="parallax">
				<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
				<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
				<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
				<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
				</g>
			</svg>
		</div>
	</section>
	<!-- End Banner Section -->

	<!-- Services Section -->
	<section class="services-section style-two">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Service Block / Style Two -->
				<div class="service-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="color-layer"></div>
						<div class="pattern-layer-one"
							style="background-image: url(assets/images/icons/service-pattern.png)"></div>
						<div class="pattern-layer-two"
							style="background-image: url(assets/images/icons/service-pattern-2.png)"></div>
						<div class="icon-box">
							<span class="icon flaticon-shuttle"></span>
						</div>
						<h5><a href="content-marketing.html">Développement</a></h5>
						<div class="text">Nous créons des sites web internet, vitrine ou Ecommerce, votre application mobile sur-mesure,ou encore un intranet conçu selon vos besoins avec les dernieres technologies. Unlock répond à tous les projets web</div>
						<a href="content-marketing.html" class="arrow-icon flaticon-arrow-pointing-to-right"></a>
					</div>
				</div>

				<!-- Service Block / Style Two -->
				<div class="service-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="color-layer"></div>
						<div class="pattern-layer-one"
							style="background-image: url(assets/images/icons/service-pattern.png)"></div>
						<div class="pattern-layer-two"
							style="background-image: url(assets/images/icons/service-pattern-2.png)"></div>
						<div class="icon-box">
							<span class="icon flaticon-globe"></span>
						</div>
						<h5><a href="content-marketing.html">Securité</a></h5>
						<div class="text">Unlock attache une attention particulière à la sécurité dans sa globalité, que ce soit lors d’une création ou d’une refonte nous veillons à se que vos projet soit sans failles.</div>
						<a href="content-marketing.html" class="arrow-icon flaticon-arrow-pointing-to-right"></a>
					</div>
				</div>

				<!-- Service Block / Style Two -->
				<div class="service-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="color-layer"></div>
						<div class="pattern-layer-one"
							style="background-image: url(assets/images/icons/service-pattern.png)"></div>
						<div class="pattern-layer-two"
							style="background-image: url(assets/images/icons/service-pattern-2.png)"></div>
						<div class="icon-box">
							<span class="icon flaticon-network"></span>
						</div>
						<h5><a href="content-marketing.html">Hebergement</a></h5>
						<div class="text">Offre d’hébergement avec transfert ou dépôt de votre nom de domaine principal (et création de comptes emails)</div>
						<a href="content-marketing.html" class="arrow-icon flaticon-arrow-pointing-to-right"></a>
					</div>
				</div>

				<!-- Service Block / Style Two -->
				<div class="service-block style-two col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="color-layer"></div>
						<div class="pattern-layer-one"
							style="background-image: url(assets/images/icons/service-pattern.png)"></div>
						<div class="pattern-layer-two"
							style="background-image: url(assets/images/icons/service-pattern-2.png)"></div>
						<div class="icon-box">
							<span class="icon flaticon-bar-chart"></span>
						</div>
						<h5><a href="content-marketing.html">Maintenance</a></h5>
						<div class="text">Offre de services de maintenance corrective et technique, afin d’assurer le suivi et les évolutions de votre site web après sa mise en ligne</div>
						<a href="content-marketing.html" class="arrow-icon flaticon-arrow-pointing-to-right"></a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Services Section -->

	<!-- About Section / Style Two -->
	<section class="about-section style-two">
		<div class="circle-layer" style="background-image: url(assets/images/icons/about-circle.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="1">
							<img src="assets/images/resource/about-1.png" alt="" />
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">À PROPOS DE NOUS</div>
							<h2>Développez votre activité avec le référencement</h2>
						</div>
						<div class="bold-text">UNLOCK aide les entreprises à atteindre leurs objectifs financiers et de marque.</div>
						<div class="text">Au fil des ans, nous avons travaillé avec des entreprises et de toutes nouvelles startups. Nous aidons les entreprises ambitieuses comme la vôtre à générer plus de bénéfices en renforçant leur notoriété, en générant du trafic Web, en se connectant avec les clients et en augmentant les ventes globales. Appelez-nous.</div>
						<a href="about.html" class="theme-btn btn-style-ten"><span class="txt">Plus</span></a>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End About Section / Style Two -->
	<section class="services-section-three">
<div class="pattern-layer-one" style="background-image: url(images/icons/icon-8.png)"></div>
<div class="pattern-layer-two" style="background-image: url(images/icons/icon-9.png)"></div>
<div class="pattern-layer-three" style="background-image: url(images/icons/icon-10.png)"></div>
<div class="auto-container">
	<div class="row clearfix">
		
		<!-- Blocks Column -->
		<div class="blocks-column col-lg-6 col-md-12 col-sm-12">
			<div class="inner-column">
				<div class="row clearfix">
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
							<div class="icon-box">
								<span class="icon flaticon-badge"></span>
							</div>
							<h5><a href="content-marketing.html">Best Security</a></h5>
							<div class="text">We have seen great successes with everyone companies.</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp animated" data-wow-delay="150ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 150ms; animation-name: fadeInUp;">
							<div class="icon-box">
								<span class="icon flaticon-chat-3"></span>
							</div>
							<h5><a href="content-marketing.html">Risk Manage</a></h5>
							<div class="text">Every business and industry requires an approach in our Heand.</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
							<div class="icon-box">
								<span class="icon flaticon-growth"></span>
							</div>
							<h5><a href="content-marketing.html">Growth Revenue</a></h5>
							<div class="text">You make sure you know how campaign is performing Business</div>
						</div>
					</div>
					
					<!-- Service Block Three -->
					<div class="service-block-three col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInUp animated" data-wow-delay="150ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 150ms; animation-name: fadeInUp;">
							<div class="icon-box">
								<span class="icon flaticon-management"></span>
							</div>
							<h5><a href="content-marketing.html">Greate Support</a></h5>
							<div class="text">To generate highly focused leads ready to purchases our service</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<!-- Content Column -->
		<div class="content-column col-lg-6 col-md-12 col-sm-12">
			<div class="inner-column">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="title">WHY US CHOOSE NOW</div>
					<h2>We Provide the Best <br> Facilites For Business</h2>
				</div>
				<div class="bold-text">From keyword research to technical auditing to site migration, our team of technical SEOs are true experts in their field.</div>
				<ul class="list-style-three">
					<li>We've been supporting WordPress since the beginning.</li>
					<li>Perfect for large sites or agencies managing multiple clients.</li>
					<li>Our easy-to-use control panel and API let you spend</li>
				</ul>
				<a href="contact.html" class="theme-btn btn-style-five"><span class="txt">Learn More</span></a>
			</div>
		</div>
		
	</div>
</div>
</section>
	<!-- Services Section Two -->
	<section class="services-section-two style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">NOS SERVICES</div>
				<h2>Pour un monde toujour plus mobile</h2>
			</div>
			<div class="inner-container">
				<div class="clearfix">

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-pie-chart"></span>
							</div>
							<h5><a href="content-marketing.html">Marketing de contenu</a></h5>
							<div class="text">Vous pouvez fournir les réponses que vos clients potentiels essaient de trouver, afin que vous puissiez devenir l'industrie.</div>
						</div>
					</div>

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-line-chart"></span>
							</div>
							<h5><a href="content-marketing.html">Marketing social</a></h5>
							<div class="text">Créez et gérez les campagnes sociales les plus performantes et commencez à développer une base de clients fidel.</div>
						</div>
					</div>

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-bar-chart"></span>
							</div>
							<h5><a href="content-marketing.html">Développement d'applications</a></h5>
							<div class="text">Créez, publiez et promouvez un contenu engageant pour générer plus de trafic et construire une communauté dédiée.</div>
						</div>
					</div>

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-search-1"></span>
							</div>
							<h5><a href="content-marketing.html">Optimisation du référencement</a></h5>
							<div class="text">Obtenez plus de trafic sur votre site Web, plus de clients et plus de visibilité en ligne grâce à de puissants services de référencement.</div>
						</div>
					</div>

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-gear"></span>
							</div>
							<h5><a href="content-marketing.html">Développement web</a></h5>
							<div class="text">Votre site Web doit impressionner vos visiteurs en quelques secondes seulement. S'il est lent, s'il semble dépassé.</div>
						</div>
					</div>

					<!-- Service Block Two / Style Two -->
					<div class="service-block-two style-two col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="color-layer"></div>
							<div class="icon-one" style="background-image: url(assets/images/icons/icon-1.png)"></div>
							<div class="icon-two" style="background-image: url(assets/images/icons/icon-2.png)"></div>
							<div class="icon-three" style="background-image: url(assets/images/icons/icon-19.png)">
							</div>
							<div class="icon-four" style="background-image: url(assets/images/icons/icon-4.png)"></div>
							<div class="icon-box">
								<span class="icon flaticon-cloud-computing"></span>
							</div>
							<h5><a href="content-marketing.html">Formations</a></h5>
							<div class="text">Nous offrons des préstations de formation en devellopement de qualité sur la plupart des languages de developpement informatique.</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Lower Box -->
			<div class="lower-box">
				<div class="text">Voir tout les services <a href="#">ici</a></div>
			</div>

		</div>
	</section>
	<!-- End Services Section Two -->

	<!-- Counter Section -->
	<section class="counter-section style-two">
		<div class="auto-container">
			<div class="inner-container">
				<!-- Fact Counter -->
				<div class="fact-counter">
					<div class="row clearfix">

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="2500" data-stop="48">0</span>+
									</div>
									<h4 class="counter-title">CLIENTS ACTIFS</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box alternate">
										<span class="count-text" data-speed="2000" data-stop="16">0</span>+
									</div>
									<h4 class="counter-title">CONSEILLERS D'ÉQUIPE</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="4000" data-stop="93">0</span>+
									</div>
									<h4 class="counter-title">PROJETS RÉALISÉS</h4>
								</div>
							</div>
						</div>

						<!-- Column -->
						<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
							<div class="inner wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
								<div class="content">
									<div class="count-outer count-box">
										<span class="count-text" data-speed="2000" data-stop="2">0</span>+
									</div>
									<h4 class="counter-title">ANNÉES GLORIEUSES</h4>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Counter Section -->

	<!-- Call To Action Section -->
	<section class="call-to-action-section style-two"
		style="background-image: url(assets/images/background/map-pattern.png)">
		<div class="circle-layer" style="background-image: url(assets/images/resource/cta-bg.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>Faites passer votre site au niveau supérieur en ce moment !</h2>
						<div class="text">aites le bon choix pour votre avenir. Choisissez Unlock !</div>
						<a href="about.html" class="theme-btn btn-style-eight"><span class="txt">C'est partit</span></a>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="3">
							<img src="assets/images/resource/cta.png" alt="" />
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Call To Action Section -->

	<!-- Team Section Two -->
	<section class="team-section-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">NOTRE ÉQUIPE</div>
				<h2>Notre leadership expert</h2>
			</div>
			<div class="row clearfix">

				<!-- Team Block Two -->
				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<ul class="team-social-box">
							<li class="youtube"><a href="#" class="fab fa-youtube"></a><span
									class="social-name">youtube</span></li>
							<li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a><span
									class="social-name">linkedin</span></li>
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a><span
									class="social-name">facebook</span></li>
							<li class="twitter"><a href="#" class="fab fa-twitter"></a><span
									class="social-name">twitter</span></li>
						</ul>
						<div class="image">
							<a href="team-detail.html"><img src="assets/images/resource/team-12.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="team-detail.html">Christina Tores</a></h3>
							<div class="designation">CEO of Company</div>
						</div>
					</div>
				</div>

				<!-- Team Block Two -->
				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<ul class="team-social-box">
							<li class="youtube"><a href="#" class="fab fa-youtube"></a><span
									class="social-name">youtube</span></li>
							<li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a><span
									class="social-name">linkedin</span></li>
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a><span
									class="social-name">facebook</span></li>
							<li class="twitter"><a href="#" class="fab fa-twitter"></a><span
									class="social-name">twitter</span></li>
						</ul>
						<div class="image">
							<a href="team-detail.html"><img src="assets/images/resource/team-13.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="team-detail.html">Jacken Mike</a></h3>
							<div class="designation">General Manager</div>
						</div>
					</div>
				</div>

				<!-- Team Block Two -->
				<div class="team-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<ul class="team-social-box">
							<li class="youtube"><a href="#" class="fab fa-youtube"></a><span
									class="social-name">youtube</span></li>
							<li class="linkedin"><a href="#" class="fab fa-linkedin-in"></a><span
									class="social-name">linkedin</span></li>
							<li class="facebook"><a href="#" class="fab fa-facebook-f"></a><span
									class="social-name">facebook</span></li>
							<li class="twitter"><a href="#" class="fab fa-twitter"></a><span
									class="social-name">twitter</span></li>
						</ul>
						<div class="image">
							<a href="team-detail.html"><img src="assets/images/resource/team-14.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="team-detail.html">Regina Blackly</a></h3>
							<div class="designation">CTO of Company</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Team Section Two -->

	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="icon-layer-one" style="background-image: url(assets/images/icons/icon-3.png)"></div>
		<div class="icon-layer-two" style="background-image: url(assets/images/icons/icon-7.png)"></div>
		<div class="icon-layer-three" style="background-image: url(assets/images/icons/icon-8.png)"></div>
		<div class="icon-layer-four" style="background-image: url(assets/images/icons/icon-9.png)"></div>
		<div class="icon-layer-five" style="background-image: url(assets/images/icons/icon-10.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">DE VRAIS TÉMOIGNAGES</div>
				<h2>Que disent-ils de notre
					<br>entreprise?</h2>
				<div class="text">Nous savons à quel point l'expérience client est importante pour une entreprise et, par conséquent,
					nous nous efforçons de faire exceller votre entreprise dans ce domaine.</div>
			</div>

			<div class="testimonial-carousel owl-carousel owl-theme">

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="pattern-layer"></div>
						<div class="author-image-outer">
							<div class="author-image">
								<img src="assets/images/resource/author-1.png" alt="" />
							</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">I had so much fun working with your specialists on my business project
								that we will come back soom!</div>
							<div class="lower-box">
								<div class="quote-icon fa fa-quote-left"></div>
								<h6>Margaret Sunsan</h6>
								<div class="designation">Develper</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="pattern-layer"></div>
						<div class="author-image-outer">
							<div class="author-image">
								<img src="assets/images/resource/author-2.png" alt="" />
							</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star dark"></span>
							</div>
							<div class="text">i liked working with these creative guys, who know everything about
								quality design, innovations and usability,</div>
							<div class="lower-box">
								<div class="quote-icon fa fa-quote-left"></div>
								<h6>Eizabeth Blackwell</h6>
								<div class="designation">Web Designer</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="pattern-layer"></div>
						<div class="author-image-outer">
							<div class="author-image">
								<img src="assets/images/resource/author-1.png" alt="" />
							</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="text">I had so much fun working with your specialists on my business project
								that we will come back soom!</div>
							<div class="lower-box">
								<div class="quote-icon fa fa-quote-left"></div>
								<h6>Margaret Sunsan</h6>
								<div class="designation">Develper</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="pattern-layer"></div>
						<div class="author-image-outer">
							<div class="author-image">
								<img src="assets/images/resource/author-2.png" alt="" />
							</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star dark"></span>
							</div>
							<div class="text">i liked working with these creative guys, who know everything about
								quality design, innovations and usability,</div>
							<div class="lower-box">
								<div class="quote-icon fa fa-quote-left"></div>
								<h6>Eizabeth Blackwell</h6>
								<div class="designation">Web Designer</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- End Testimonial Section -->

	<!-- Pricing Section -->
	<section class="pricing-section style-three">
		<div class="pattern-layer" style="background-image: url(assets/images/background/pattern-1.png)"></div>
		<div class="pattern-layer-two" style="background-image: url(assets/images/background/pattern-20.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Nos pack serenité</div>
				<h2>Développez votre activité avec le référencement</h2>
				<div class="text">Nous adoptons une approche consultative pour chaque engagement client et trouvons des
					solutions concrètes qui aideront votre organisation à obtenir les meilleurs résultats.</div>
			</div>

			<div class="pricing-tabs tabs-box">

				<!--Tabs Container-->
				<div class="tabs-content">

					<!--Tab-->
					<div class="tab active-tab" id="prod-monthly">
						<div class="content">
							<div class="row clearfix">

						

						{% for product in dev %}
								<!-- Price Block -->
										<!-- Price Block -->
										<div class="price-block col-lg-4 col-md-6 col-sm-12">
											<div class="inner-box" style="height:600px;">
												<div class="title">{{product.name}}</div>
												<div class="price">{{product.price}}€</div>
												<ul class="price-list">
													<li>{{product.description}}</li>
												</ul>
												<a href="{{ path('add_to_cart',{'id':product.id})}}" class="theme-btn btn-style-eleven"><span class="txt">Ajoutez au panier</span></a>
												<div class="price-pattern-layer"
													style="background-image: url(assets/images/background/price-pattern-1.png)">
												</div>
											</div>
										</div>

						
					     	{% endfor %}

							
							</div>
						</div>
					</div>

					<!--Tab-->
					<div class="tab" id="prod-yearly">
						<div class="content">
							<div class="row clearfix">

								{% for product in form %}
								<!-- Price Block -->
										<!-- Price Block -->
										<div class="price-block active col-lg-4 col-md-6 col-sm-12">
											<div class="inner-box" style="height:600px;">
												<div class="title">{{product.name}}</div>
												<div class="price">{{product.price}}€</div>
												<ul class="price-list">
													<li>{{product.description}}</li>
												</ul>
												<a href="{{ path('add_to_cart',{'id':product.id})}}" class="theme-btn btn-style-eleven"><span class="txt">Ajoutez au panier</span></a>
												<div class="price-pattern-layer style-two"
													style="background-image: url(assets/images/background/price-pattern-3.png)">
												</div>
											</div>
										</div>
					     	{% endfor %}

							</div>
						</div>
					</div>

				</div>

				<!--Tab Btns-->
				<div class="buttons-outer">
					<ul class="tab-buttons clearfix">
						<li data-tab="#prod-monthly" class="tab-btn active-btn">Developpment</li>
						<li data-tab="#prod-yearly" class="tab-btn">Formation</li>
					</ul>
				</div>

			</div>

		</div>
	</section>
	<!-- End Pricing Section -->

	<!-- Clients Section -->
	<section class="clients-section">
		<div class="auto-container">

			<div class="sponsors-outer">
				<!--Sponsors Carousel-->
				<ul class="sponsors-carousel owl-carousel owl-theme">
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/4.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/5.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/1.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/2.png" alt=""></a>
						</figure>
					</li>
					<li class="slide-item">
						<figure class="image-box"><a href="#"><img src="assets/images/clients/3.png" alt=""></a>
						</figure>
					</li>
				</ul>
			</div>

		</div>
	</section>
	<!-- End Clients Section -->

	<!-- News Section -->
	<section class="news-section">
		<div class="pattern-layer" style="background-image: url(assets/images/resource/cta-bg.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">Realisations</div>
						<h2>Nos derniéres réalisations</h2>
						<div class="text">Our campaigns get your business in front of the right people at the <br> right
							time to increase organic traffic and boost engagement.</div>
					</div>
					<div class="pull-right">
						<a href="blog.html" class="theme-btn btn-style-eight"><span class="txt">All News</span></a>
					</div>
				</div>
			</div>

			<div class="row clearfix">

				<!-- News Block / Style Two -->
				<div class="news-block style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="assets/images/resource/news-1.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<a href="news-detail.html" class="icon flaticon-unlink"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><a href="news-detail.html"><span class="icon fa fa-user"></span> Pablo
										Villalpando</a></li>
								<li><a href="news-detail.html"><span class="icon fa fa-calendar"></span> November 21,
										2021</a></li>
							</ul>
							<h5><a href="news-detail.html">Google now disregards or overlooks all reciprocal links</a>
							</h5>
						</div>
					</div>
				</div>

				<!-- News Block / Style Two -->
				<div class="news-block style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="assets/images/resource/news-2.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<a href="news-detail.html" class="icon flaticon-unlink"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><a href="news-detail.html"><span class="icon fa fa-user"></span> Pablo
										Villalpando</a></li>
								<li><a href="news-detail.html"><span class="icon fa fa-calendar"></span> November 21,
										2021</a></li>
							</ul>
							<h5><a href="news-detail.html">Absolute Links vs. Relative Links – SEO Intrinsic Value</a>
							</h5>
						</div>
					</div>
				</div>

				<!-- News Block / Style Two -->
				<div class="news-block style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="assets/images/resource/news-3.jpg" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<a href="news-detail.html" class="icon flaticon-unlink"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><a href="news-detail.html"><span class="icon fa fa-user"></span> Pablo
										Villalpando</a></li>
								<li><a href="news-detail.html"><span class="icon fa fa-calendar"></span> November 21,
										2021</a></li>
							</ul>
							<h5><a href="news-detail.html">How to increase your ROI through scientific SEM?</a></h5>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End News Section -->

	
</div>
<!--End pagewrapper-->

<!-- Color Palate / Color Switcher -->

<div class="color-palate">
	<div class="color-trigger">
		<i class="fas fa-cog"></i>
	</div>
	<div class="color-palate-head">
		<h6>Vos préferences</h6>
	</div>
	<h5>Position</h5>
	<ul class="rtl-version option-box">
		<li class="rtl">Droitier</li>
		<li>Gaucher</li>
	</ul>
	<h5>Navigation fix</h5>
	<ul class="header-version option-box">
		<li class="box">Non</li>
		<li>Oui</li>
	</ul>
	<h5>Verion obscure</h5>
	<ul class="dark-version option-box">
		<li class="box">Oui</li>
		<li>Non</li>
	</ul>


	<div class="palate-foo">
		<span>Pour une meilleur experience utilisateur</span>
	</div>

</div>


<!-- Scroll To Top -->
<div class="back-to-top scroll-to-target show-back-to-top" data-target="html">TOP</div>

{% include 'components/footer.html.twig'%}

{% endblock %}