<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
   	<!-- Favicon -->
		<link href="{{asset('assets_admin/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css"/>

		<!-- Title -->
		<title>Unlock</title>

		<!-- Bootstrap css-->
		<link href="{{asset('assets_admin/css/sb-admin-2.min.css')}}" rel="stylesheet"/>


    <!-- Responsive -->

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
    <meta name="author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    {% endblock %}
    {% block final_stylesheets '' %}
</head>

<body id="page-top">
    {% include 'components_admin/header.html.twig'%}
    {% block body %}
    {% endblock %}
    {% include 'components_admin/footer.html.twig'%}
</body>


{% block javascripts %}



<!-- Jquery js-->
<script src="{{asset('assets_admin/vendor/jquery/jquery.min.js')}}"></script>

<!-- Bootstrap js-->
<script src="{{asset('assets_admin/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('assets_admin/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

<!-- Internal Chart.Bundle js-->
<script src="{{asset('assets_admin/js/sb-admin-2.min.js')}}"></script>

<!-- Peity js-->
<script src="{{asset('assets_admin/vendor/chart.js/Chart.min.js')}}"></script>

<!-- Select2 js-->
<script src="{{asset('assets_admin/js/demo/chart-area-demo.js')}}"></script>

<!-- Perfect-scrollbar js -->
<script src="{{asset('assets_admin/js/demo/chart-pie-demo.js')}}"></script>
{% endblock %}
{% block final_javascripts_chart '' %}
</html>