{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}
{% block final_stylesheets %}

{% endblock %}
{% block body %}
<!-- Page Title Section -->
<section class="page-title" style="background-image: url(assets/images/background/pattern-15.png)">
    <div class="pattern-layer-one" style="background-image: url(assets/images/main-slider/pattern-1.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(assets/images/background/pattern-17.png)"></div>
    <div class="pattern-layer-three" style="background-image: url(assets/images/background/pattern-18.png)"></div>
    <div class="pattern-layer-four" style="background-image: url(assets/images/icons/cross-icon.png)"></div>
    <div class="auto-container">
        <ul class="page-breadcrumb">
            <h1 class="text-center">
                {% if app.user.picture is not null %}
                <img class=" img-fluid rounded-circle" style="border:solid white 5px;width: 250px;height:250px"
                    src="{{ asset('uploads/avatar/' ~  app.user.picture )}}" alt="">
                {% else %}
                <img class=" img-fluid rounded-circle" style="border:solid white 5px;width: 250px;height:250px"
                    src="assets/images/resource/user.png" alt="">
                {% endif %}
            </h1>
            <h2>Bienvenue <span class="text-bold">{{app.user.firstname}}</span></h2>
        </ul>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                </path>
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0, 162, 255, 0.568)"></use>
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"></use>
            </g>
        </svg>
    </div>
</section>
<!-- End Page Title Section -->

<!--Register Section-->
<section class="account-section">
    <div class="container">
        <div class="row clearfix">

            <!--Form Column-->
            <div class=" container-fluid">
                <h1 class="text-muted">Recapitulatif</h1>
                <section class="row">
                    <div class="col-md-12 p-3" style="background-color:#185fa5;border-radius: 30px 50px 60px;">
                        <div class="avatar">
                            <h1 class="text-center"><img class="rounded-circle" width="150"
                                    src="{{asset('assets/img/cart.png')}}" alt=""></h1>
                            <div class="block-menu text-center text-white mt-1">
                                <a href="{{path('edit_user')}}">Edité mes informations</a> | <a
                                    href="{{path('edit_user')}}">Edité mon mot de passe</a>
                            </div>
                        </div>
                    </div>

                </section>
                <hr>
        <section>
  
        </section>
            </div>
        </div>
</section>
<!--End Register Section-->


{% endblock %}